h1{
  color: #e6855e;
  font-size:30px;
  background-color:#0000FF;
  height:80px;
  width:200px;
}
p {
  /* Gantikan warna ke #ff000 */
  color: #ff0000;
}
li{
  color:#444;
  padding-top:33px;
  padding-right:20px;
  padding-bottom:33px;
  padding-left:20px;
}
.selected{
  color:#ff0000;
}
img{
  height:50px;
  float:right;
  width:70px;
}

li {
  list-style: none;
  float:left;
  padding-top:33px;
  padding-right:20px;
  padding-bottom:33px;
  padding-left:20px;
}

.header-logo{
  font-size;36px;
  float:left;
  padding-top:20px;
  padding-right:40px;
  padding-bottom:20px;
  padding-left:40px;
}

.main {
  background-color: #bdf7f1;
  height: 600px;
}
